* {
	box-sizing: border-box;
}

body {
	--v-main-nav-min-height: 65px;
	--common-border-radius: 19px;

    margin: initial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus-visible {
    outline: 2px solid var(--color-content, currentColor);
    outline-offset: 6px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip-path: inset(50%);
    white-space: nowrap;
}

p {
    font-size: 16px;
    line-height: 1.35;
}
