@use 'mixins/grid' as *;

.slice-container {
    @include grid-container(true);

    &--fullwidth {
        --grid-container-padding-inline: 0;
    }

    &--xs {
        margin-block: 72px;
    }

    &--xl {
        margin-block: 208px;
    }

    &--xxl {
        margin-block: 308px;
    }
}
