@function flex-grid($columns: 1, $total-columns: 12, $fullscreen: false) {
    @return calc(#{flex-grid-value($columns, $total-columns, $fullscreen)});
}

@function flex-grid-value($columns: 1, $total-columns: 12, $fullscreen: false) {
    $num-gutters: $total-columns - 1;
    $total-width: '(100% - #{$num-gutters} * var(--gutter))';
    $result: '(#{$total-width} / #{$total-columns})';

    @if  $columns != 1 {
        $result: '#{$result} * #{$columns} + #{$columns - 1} * var(--gutter)';
    }

    @return $result;
}
