@use '../functions/px-to-rem' as *;

$gutters: (
    0: 12px,
) !default;
$grid-margins: (
    0: 24px,
) !default;
$grid-widths: (
    0: calc(100% - 2 * var(--grid-margin)),
) !default;
$grid-max-widths: (
    0: 1920px,
) !default;
$grid-columns: (
    0: 12,
) !default;
